<body>
<hr />
<div class='panelMacro'><table class='tipMacro'><colgroup><col width='24'><col></colgroup><tr><td valign='top'><img src="/confluence/images/icons/emoticons/check.gif" width="16" height="16" align="absmiddle" alt="" border="0"></td><td>This page demonstrates the issue: if pagetree is included, all the headings appear. If pagetree is left out or commented out, then only the important headings appear</td></tr></table></div>
<hr />

<hr />

<h2 id="TOC-72-Important">Important</h2>

<h2 id="TOC-72-AlsoImportant">Also Important</h2>

<script language="JavaScript" src="/confluence/includes/js/ajax.js"></script>
<script language="JavaScript">
//<!--

    var MAX_DEPTH = 999;
    var MODE_EXPAND = true;
    var MODE_COLLAPSE = false;

    /**
     * mode: true=expand, false=collapse
     */
    function toggleChild(id, mode, startDepth)
    {
        // if no mode is set, toggle current mode
        if (mode == undefined || mode == null) mode = !getMode(id);

        //if no startDepth is set, default to zero
        if (startDepth == undefined || startDepth == null) startDepth = 0;

        // execute only if current state is different with target mode
        if (!isSimilarState(id, mode)) {
            var childrenDiv = document.getElementById("children" + id);
            if (hasChild(childrenDiv)) {
                // toggle images
                var image = document.getElementById("plusminus" + id);
                if (image != null && image != undefined) {
                    if (mode == MODE_EXPAND) {
                        image.src = "/confluence/images/icons/tree_minus.gif";
                    } else {
                        image.src = "/confluence/images/icons/tree_plus.gif";
                    }
                }

                if ((typeof(Effect)=="undefined") || (typeof(Effect.BlindUp)=="undefined") || (typeof(Effect.BlindDown)=="undefined")) {
                    // simply toggle the visibility of the children div now that we've already fetched it
                    if (mode == MODE_EXPAND) {
                        childrenDiv.style.display = 'block';
                    } else {
                        childrenDiv.style.display = 'none';
                    }
                } else {
                    if (mode == MODE_EXPAND) {
                        new Effect.BlindDown(childrenDiv, {duration: 0.3});
                    } else {
                        new Effect.BlindUp(childrenDiv, {duration: 0.3});
                    }
                }
            } else {
                loadChildren(id, [], startDepth, "");
            }
        }
    }

    /**
     * returns true if the given <div> element has a <ul> child node.
     */
    function hasChild(childDiv)
    {
        // get all <ul> children
        var childElems = childDiv.getElementsByTagName("ul");

        if (childElems == null || childElems == undefined) return false;

        for (var i = 0; i < childElems.length; i++) {
            if (childElems[i].id != undefined && childElems[i].id.indexOf("child_ul") > -1) return true;
        }

        return false;
    }

    /**
     * returns true if tree is already expanded, and false if it is already collapsed
     */
    function getMode(id) {
        var image = document.getElementById("plusminus" + id);
        if (image != null && image != undefined) {
            return (image.src.indexOf("_minus.gif") != -1);
        }
        return MODE_COLLAPSE;
    }

    function isSimilarState(id, mode) {
        return getMode(id) == mode;
    }

    function expandAll(id)
    {
        doExpandCollapseAll(id, MODE_EXPAND);
    }

    function collapseAll(id)
    {
        doExpandCollapseAll(id, MODE_COLLAPSE);
    }

    /**
     * mode: true=expand, false=collapse
     */
    function doExpandCollapseAll(id, mode)
    {
        var rootDiv = document.getElementById(id);
        var divs = rootDiv.getElementsByTagName("div");
        for (var i=0; i<divs.length; i++)
        {
            var childId = getIdFromElementName(divs[i].id);
            // MAX_DEPTH is used as the startingdepth to load all unloaded children
            if (childId != null) toggleChild(childId, mode, MAX_DEPTH);
        }
    }

    /**
     * name would be in a format like "children393219-1" or "plusminus393219-1".
     * This function would just extract the "393219-1" part and return it.
     */
    function getIdFromElementName(name)
    {
        if (!name || name == undefined) return null;

        if (name.indexOf("plusminus") != -1) return name.substring("plusminus".length);
        if (name.indexOf("children") != -1) return name.substring("children".length);
        return null;
    }

    /**
     * elementId would be in a format like "393219-1".
     * This function would just extract the "393219" part and return it.
     */
    function getPageIdFromElementId(elementId)
    {
        if (!elementId || elementId == undefined) return null;

        // split the elementId and return the pageId
        return elementId.split("-")[0];
    }

    var treeRequests={};// object to hold tree request strings in
    var targetPages={};// object to hold target page ids in

    function loadChildren(rootPage, ancestors, startDepth, spaceKey)
    {
        var id = rootPage;
        var childrenDiv = document.getElementById("children" + id);
        if (childrenDiv==null) {
            // could not find children element
            return;
        }
        // Set childrenDiv to indicate loading while xml http fetches the actual children list
        childrenDiv.innerHTML = "<ul>Loading ...</ul>";
        // split the id into page & tree id
        var ids = id.split("-");
        var pageId=ids[0];
        var treeId=ids[1];

        var xmlhttp = getXmlHttp();
        xmlhttp.open("GET", generateRequestString(treeId, pageId, ancestors, startDepth, spaceKey),true);
        xmlhttp.onreadystatechange=function()
        {
            if (xmlhttp.readyState==4) {
                var childrenDiv = document.getElementById("children" + id);
                childrenDiv.innerHTML = xmlhttp.responseText;
                var plusMinusImage = document.getElementById("plusminus" + id);
                if (plusMinusImage != null) {
                    plusMinusImage.src = "/confluence/images/icons/tree_minus.gif";
                }

                // if targetDiv is found, make it bold
                var targetDiv = document.getElementById("children" + targetPages[treeId] + "-" + treeId);
                if (targetDiv != null && targetDiv != undefined) {
                    targetDiv = targetDiv.previousSibling.previousSibling; // get <ul> tag
                    if (targetDiv != null && targetDiv != undefined) {
                        targetDiv.style.fontWeight='bold';
                    }
                }
            }
        }
        xmlhttp.send(null)
    }

    function generateRequestString(treeId, pageId, ancestors, startDepth, spaceKey) {
        var reqString = treeRequests[treeId];
        if (pageId == "Orphan") {
            reqString += "&hasRoot=false&spaceKey=" + spaceKey + "&treeId=" + treeId + "&startDepth=" + startDepth;
        } else {
            reqString += "&hasRoot=true&pageId=" + pageId + "&treeId=" + treeId + "&startDepth=" + startDepth;
        }
        if (ancestors != null && ancestors != undefined) {
            for (var i=0; i<ancestors.length; i++) {
                reqString += "&ancestors=" + getPageIdFromElementId(ancestors[i]);
            }
        }
        return reqString;
    }
//-->
</script>
<style>
.li{
  padding-left:15;
}
</style>


                <ul style="list-style-type: none; margin-left: 0; padding-left: 0">
            <div id="children32787-1">
            </div>
        </ul>

    <script type="text/JavaScript">
        treeRequests["1"]="/confluence/plugins/pagetree/naturalchildren.action?decorator=none&excerpt=false&sort=position&reverse=false";
        targetPages["1"]="393222";
                    var ancestors1 = ["32787-1"];
                            loadChildren("32787-1", ancestors1, 3, "ds");
            </script>


<h3 id="TOC-72-FairlyImportant">Fairly Important</h3>

<h3 id="TOC-72-SomewhatImportant">Somewhat Important</h3>

<h2 id="TOC-72-QuiteImportant">Quite Important</h2>

<h4 id="TOC-72-Fairlytrivial">Fairly trivial</h4>

<h5 id="TOC-72-Superfluous">Superfluous</h5>

<h6 id="TOC-72-TooLow">Too low level - won't output</h6>

<h2 id="TOC-72-Urgent">Urgent</h2>

<h5 id="TOC-72-Triviality">Triviality </h5>
</body>
